.logincontent {
  margin: 0 auto;
  margin-top: 2.55%;
  margin-bottom: 10%;
  width: 34.6%;
  background: #ffffff;
  padding: 3%;
  height: 460px;
}

.signupcontent {
  margin: 0 auto;
  margin-top: 2.55%;
  margin-bottom: 5%;
  width: 34.6%;
  background: #ffffff;
  padding: 3%;
  height: 610px;
}

@media screen and (max-width: 600px) {
  .logincontent {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .signupcontent {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 900px) {
  .logincontent {
    width: 85%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .signupcontent {
    width: 85%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

.codebox {
  height: 36.5px;
  width: 37px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid grey;
  /* border: 1px solid rgb(133, 133, 133); */
  margin: 7px;
}
.codebox:hover {
  border-radius: 10px;
  border: 1px solid rgb(133, 133, 133);
  height: 37px;
  width: 37px;
  margin: 7px;
  border: 3px solid #355be1;
}
.re-sendbtn {
  background: white;
  color: #3964fc;
  border: 1px solid #c0c4d4;
  border-radius: 10px;
  margin-right: 40px;
  font-weight: bold;
}
.re-sendbtn:hover {
  background: #355be1;
  color: white;
  border: 1px solid#C0C4D4;
  border-radius: 10px;
  margin-right: 40px;
}
.cell {
  border-collapse: separate;
  border-spacing: 30px 20px;
}
#counter {
  color: #3964fc;
  font-weight: bold;
}
.material-icons {
  font-size: 15px;
  vertical-align: middle;
}

.formlabel {
  font-weight: 600 !important;
}
.btn-primary {
  background: #3964fc;
  border: #3964fc;
  border-radius: 10px;
}
.btn-primary:hover {
  background: #355be1;
  border: #355be1;
  border-radius: 10px;
}
.textbox {
  border-radius: 10px;
}
.textbox:hover {
  border: 3px solid #355be1;
}
.input-group-addon:last-child {
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}

.parent {
  position: relative;
  margin: 0;
  font-family: Open sans !important;
  font-size: 13px;
  height: 70%;
}

.navbar {
  position: absolute;
  background: white;
  height: 80px;
  width: 101%;
}

#signup_button {
  border-radius: 10px;
  height: 36.5px;
}

#editprofile_button {
  border-radius: 10px;
  height: 36.5px;
  width: 200px;
}

#signin_button {
  border-radius: 10px;
  height: 36.5px;
}

#continue {
  border-radius: 10px;
  height: 36.5px;
}

.logo {
  position: relative;
  top: 20px;
  left: 70px;
}
.texthover {
  text-decoration: none;
  color: #3f3d56;
}
.texthover:hover {
  text-decoration: none;
  color: #355be1;
}
.signuptext {
  text-decoration: none;
  color: #3964fc;
}
.signuptext:hover {
  text-decoration: none;
  color: #355be1;
}

.form-control {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-group-addon {
  padding: 0.45rem 0.6rem;
  border: 1px solid #e8ebf1 !important;
}
