.content {
  margin: 0 auto;
  margin-top: 110px;
  width: 30%;
  background: #ffffff;
  padding: 26px;
  padding-left: 50px;
  padding-right: 50px;
}
.btn-primary {
  background: #3964fc;
  border: #3964fc;
  border-radius: 10px;
}
.btn-primary:hover {
  background: #355be1;
  border: #355be1;
  border-radius: 10px;
}
.textbox {
  border-radius: 10px;
}
.textbox:hover {
  border: 3px solid #355be1;
}
.input-group-addon:last-child {
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}
.radio_spc {
  padding-right: 40px;
}

.parent {
  position: relative;
  background: #c0c4d4;
  margin: 0;
  font-family: Open Sans !important;
  font-size: 13px;
}

.navbar {
  position: absolute;
  background: white;
  height: 80px;
  width: 101%;
}

.logo {
  position: relative;
  top: 20px;
  left: 70px;
}
.innerlogo {
  top: 20px;
  left: 70px;
}
.texthover {
  text-decoration: none;
  color: black;
}
.texthover:hover {
  text-decoration: none;
  color: #355be1;
}
.logintext {
  text-decoration: none;
  color: #3964fc;
}
.logintext:hover {
  text-decoration: none;
  color: #355be1;
}

@media only screen and (max-width: 900px) {
  .content {
    margin: 0 auto;
    margin-top: 110px;
    width: 90%;
    background: #ffffff;
    padding: 25px;
    padding-left: 46px;
    padding-right: 46px;
  }
  .navbar {
    position: absolute;
    background: white;
    height: 80px;
    width: 105%;
  }
  .logo {
    top: 25px;
    left: 8%;
    widows: 30px;
    height: 30px;
  }
  .innerlogo {
    top: 25px;
    left: 8%;
    widows: 30px;
    height: 30px;
  }
  .radio_spc {
    padding-right: 20px;
  }
}
